<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ejs</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>

    
    <div class="w-full h-screen bg-zinc-900 p-10 text-white">
       <div class="mb-10">
            <a class="text-blue-500 " href="/read">Read Users</a>
       </div>

          <div class="flex flex-col items-center mt-5 border-zinc-800 border-2 w-80 p-8 ml-[625px] bg-zinc-700">

              <h1 class="text-3xl tracking-tighter mb-3">Create User</h1>

        <form action="/create" method="post">
            <input 
            type="text"
            class="px-5 py-2 bg-transparent border border-zinc-800 outline-none rounded-xl"
            placeholder="name"
            name="name"
            >
            <br>
            <br>



            <input 
            type="email"
            class="px-5 py-2 bg-transparent border border-zinc-800 outline-none rounded-xl"
            placeholder="email"
            name="email"
            >
            <br>
            <br>



               <input 
            type="text"
            class="px-5 py-2 bg-transparent border border-zinc-800 outline-none rounded-xl"
            placeholder="image Url"
            name="image"
            >
            <br>
            <br>

            <button class="bg-blue-500 hover:bg-blue-900 w-40 rounded-md px-5 py-2 ml-3">Create User</button>
        </form>
          </div>
   </div>
</body>
</html>